
<section class="success" id="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>



        <div class="row">

                <div class="col-lg-4">
                    <div class="fb-comments" data-href="https://www.facebook.com/advertsOnline2016/" data-width="300" data-numposts="5"></div>

                </div>

            <div class="col-lg-4">
                <div class="fb-page" data-href="https://www.facebook.com/advertsOnline2016/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/advertsOnline2016/"><a href="https://www.facebook.com/advertsOnline2016/">AdvertsOnline</a></blockquote></div></div>

            </div>

            <div class="col-lg-4">
                <div id="map" style="width:500px;height:500px;"></div>
            </div>
            </div>
        </div>
    <br>
                <div class="col-lg-4 col-lg-offset-2" style="text-align: center">
                    <div class="multiple" style="font-family: advertsFont">
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        Please leave us your commnets on the web page
                        AdvertsOnline.
                    </div>
                </div>
        </div>
    </div>
</section>