<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Screens</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                    <iframe src="screen=1" width="300" height="400"></iframe>
                    <button class="btn btn-success" title="Go to screen 1" type="button" onclick="window.open('screen=1'); return false;" >Screen 1</button>

            </div>
            <div class="col-sm-4 portfolio-item">
                    <iframe src="screen=2" width="300" height="400"></iframe>
                    <button class="btn btn-success" title="Go to screen 2" type="button" onclick="window.open('screen=2'); return false;" >Screen 2</button>
            </div>
            <div class="col-sm-4 portfolio-item">
                    <iframe src="screen=3" width="300" height="400"></iframe>
                    <button class="btn btn-success" title="Go to screen 3" type="button" onclick="window.open('screen=3'); return false;" >Screen 3</button>
            </div>

        </div>
    </div>
</section>