<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Videos</h2>
                <hr class="star-primary">
            </div>
        </div>

        <br>
        <br>
        <div class="row">
            <div class="span5" style="text-align: center">
                <h3>Subway</h3>
                <video controls width="400" height="400">
                    <source src="content/videos/SUBWAY.mp4" type="video/mp4">
                </video>
                </div>
            <div class="span5" style="text-align: center">
                <h3>McDonald's</h3>
                <video controls width="400" height="400">
                    <source src="content/videos/mecd.mp4" type="video/mp4">
                </video>
            </div>

        </div>

    </div>
</section>